.input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0.25rem;
    border: solid 1px var(--control-color);
    height: 2rem;
    background: var(--main-background);
    min-width: 0;
}

.input-label {
    margin: 0 0.25rem;
    flex-shrink: 0;
}

.input-field {
    flex-grow: 1;
    font: var(--normal-font);
    border: none;
    min-width: 0;
}

.input-field:focus {
    outline: none;
}

.input-field:invalid {
    color: darkred;
}

.input-field::placeholder {
    color: var(--control-color);
}

