.filter {
    display: flex;
    flex-direction: column;
    margin: 0 0.5rem 1rem;
    background-color: var(--main-background);;
}

.filter-main {
    display: flex;
    margin: 0 0 0.5rem;
}

.filter-main .button {
    margin: 0 1rem 0 0;
}

.filter-main-lefted {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.filter-main-lefted .button {
    margin: 0 0 0 1rem;
}

.filter-detail {
    display: flex;
    align-items: flex-start;
    padding: 0.5rem 1rem;
    background-color: var(--secondary-background);
    border-radius: 0.5rem;
}