.range {
    display: flex;
    flex-direction: column;
}

.range-label {
    font: var(--control-font);
    margin-bottom: 0.5rem;
}

.range-values {
    display: flex;
}

.range-values>*{
    margin-right: 0.25rem;
}