.header {
    margin: 0.5rem 0.5rem;
    display: flex;
    padding: 0px;
    background-color: var(--main-background);
    color: var(--main-color); 
    font: var(--large-font)
}

.header-title {
    flex: 1;        
} 