.filter {
    display: flex;
    flex-direction: column;
    margin: 0 0.5rem 1rem;
    background-color: var(--main-background);;
}

.filter-main {
    display: flex;
    margin: 0 0 0.5rem;
}

.filter-main>*:not(:last-child) {
    margin: 0 1rem 0 0;
}

.filter-main-lefted {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}
