.table {
    display: flex;
    flex-direction: column;
    flex: 1;
    font: var(--control-font);
    letter-spacing: 0;
    margin: 0 0.5rem;
}

.table-header {
    background: var(--control-color);
    color: var(--control-back-color);
}

.table-body {
    flex: 1;
    background: var(--main-background);
    color: var(--main-color);
}

.table-footer {
    background: var(--secondary-background);
    color: var(--main-color);
    display: flex;
    justify-content: flex-end;
}